<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/cute-clipart/64/000000/lock.png">
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
      <input type="text"  class="fadeIn second" id="username"  name="username" placeholder="login" formControlName="username"/>
      <input type="text"  class="fadeIn third"  name="password" placeholder="password" formControlName="password"/>
      <input type="submit" class="fadeIn fourth" value="Log In"/>
    </form>


  </div>
</div>
