.toolbar{
  background-color: #0099CC;
  padding: 0;
}
.login{
  margin-top: 10px;
  text-align: right;
}
.footer-copyright{
  width: 100%;
  background-color: #0099CC;
}
.py-3 a{
  color: #f0f0f0;
}
app-navi{
  height: 8%;
}
router-outlet{
  height: 84%;
}
footer{
  margin-top: 10px;
  height: 8%;
}


