<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container blue">
    <div class="row">
      <div class="col-sm">
        <h2>Service Center</h2>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-secondary btn-sm login float-right">Login</button>
      </div>
    </div>

  </div>
</div>

<div class="content" role="main">


  <app-login></app-login>
  <a>Забыли пароль</a>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https:pstlabs.by"> PST-LABS_ORANGE</a>
  </div>
  <!-- Copyright -->

</footer>


<router-outlet></router-outlet>
