.toolbar{
  background-color: #0099CC;
  padding: 0;
}
.login{
  margin-top: 10px;
  text-align: right;
}
.footer-copyright{
  width: 100%;
  background-color: #0099CC;
}
.py-3 a{
  color: #f0f0f0;
}
app-navi{
  height: 8%;
}
router-outlet{
  height: 84%;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: #007bff!important;
}
footer a{
  color: #dce8f1;
}
footer div{
  padding-top: 10px;
}



