<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="postData()" class="needs-validation">
    <div class="form-row usId">
      <div class="col-md-12">
        <p>Идентификация</p>
      </div>
      <div class="col-md-4 mb-3">
        <label>Login</label>
        <input type="text"  class="form-control" placeholder="Login" formControlName="login"/>
      </div>
      <div class="col-md-4 mb-3" [ngClass]="isShowId">
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password"
               formControlName="password"/>
      </div>
    </div>
    <div class="form-row">
      <br>
      <div class="col-md-12">
        <p>Личные данные </p>
      </div>
      <div class="col-md-4 mb-3">
        <label>Фамилия</label>
        <input type="text" id="lastname" class="form-control" placeholder="Фамилия" formControlName="lastName"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>Имя</label>
        <input type="text" class="form-control" placeholder="Имя" formControlName="firstName"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>Отчество</label>
        <input type="text" class="form-control" placeholder="Отчество" formControlName="middleName"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>E-mail</label>
        <input type="text" class="form-control" placeholder="E-mail" formControlName="email"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>Номер телефона</label>
        <input type="text" class="form-control" placeholder="+375......" formControlName="phoneNumber"/>
      </div>
    </div>
    <div class="form-row">
      <br>
      <div class="col-md-12">
        <p>Адрес</p>
      </div>
      <div class="col-md-4 mb-3">
        <label>Страна</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let country  of countrys">{{country.nameRus}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label>Город</label>
        <input type="text" class="form-control" placeholder="Город" formControlName="city"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>Улица</label>
        <input type="text" class="form-control" placeholder="Улица" formControlName="street"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>Номер дома</label>
        <input type="number" class="form-control" formControlName="house"/>
      </div>
      <div class="col-md-4 mb-3">
        <label>Номер квартиры</label>
        <input type="number" class="form-control" formControlName="flat"/>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
